/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require gsdk
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .flash {
   background-color: #43AC6A;
   color: white;
   font-size: 14pt;
 }

 body, html {height: 100%;width: 100%;}
 .main {height: 100%;width: 100%;}

 .bg {
     background: image-url(background);
     height: 100%;
     width: 100%;
     background-attachment: fixed;
     background-position: center;
     background-repeat: repeat-y;
     background-size: cover;
 }

 .bg_dark {
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url(background);
     height: 100%;
     width: 100%;
     background-attachment: fixed;
     background-position: center absolute;
     background-repeat: no-repeat;
     background-size: cover;
 }

.navbar-form {margin-top:21px;}

// @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.main-search {
  margin: auto;
  width: 850px;
  height: 100px;
  position: relative;
  color: #0479c4;
  font-size: 23pt;
}
.left-group {float:left;margin-right:20px; margin-left: 200px}

.main-search input {
  margin:auto;
  width: 400px;
  height: 50px;
  font-size: 16pt;

  background: #fcfcfc;
  border: 1px solid #0479c4;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.main-search input {text-indent:45px;}
.main-search .fa-search {
  position: absolute;
  top: 9px;
  left: 210px;
}

.fa-map-marker {
  position: absolute;
  font-size:25pt;
  top: 9px;
  left: 450px;
}
