// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// JOB LISTING HEADING

.shield {
  width: 300px;
  height: 300px;

  background: -webkit-radial-gradient(circle, white 55%, #0479c4 62%, rgba(0,0,0,0) 30%);
  background: -o-radial-gradient(circle, white 55%, #0479c4 62%, rgba(0,0,0,0) 30%);
  background: -moz-radial-gradient(circle, white 55%, #0479c4 62%, rgba(0,0,0,0) 30%);
  background: radial-gradient(circle, white 55%, #0479c4 62%, rgba(0,0,0,0) 30%);
  margin: auto;
  display: table;
  table-layout: fixed;
}

.service_area {
  padding-top: 60px;
  margin: auto;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.service_logo {
  width: 180px;
}

small.subtitle {
  font-size: 25pt;
  margin-bottom: 20px;
}

.glyphicon {
  color: #444444;
  // margin-top: 40px;
}


// JOB LISTINGS

.main {
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0)
}

.job_block {
  border: 8px ridge #009bff;
  // border-radius: 5%;
  list-style: none;
  padding:10px;
  background-color: white;
  font-size: 20px;
}

#job_company {
  font-size: 30px;
  font-weight: bold;
  color: lightblue;
}

#job_formatted_relative_time {
  color: #777777;
}
